body{
    margin: 0;
    padding: 100px 0;
    font-family: 'Red Hat Display', sans-serif;
    background: url(pattern-background-desktop.svg);
    background-repeat:repeat-x;
    background-size:contain;
}

.card{
    width:450px;
    background-color: white;
    box-shadow: 20px, 5px, 5px, 20px #333;
    margin:auto;
    padding-bottom: 15px;
    max-width: 500px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 20px 20px 10px hsl(223, 45%, 79%);
    font-family: sans-serif;
    font-weight: 500;
}