body{
    margin: 0;
    padding: 100px 0;
    font-family: 'Red Hat Display', sans-serif;
    background: url(pattern-background-desktop.svg);
    background-repeat:repeat-x;
    background-size:contain;
}